<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form - Add Note</title>
    <style>
      .navbar {
        overflow: hidden;
        background-color: #333333;
        font-family: sans-serif;
      }

      .navbar a {
        float: left;
        color: #F2F2F2;
        text-align: center;
        padding: 13px 15px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
      }

      .navbar a:hover {
        background-color: #DDDDDD;
        color: black;
      }

      .custom-form {
        margin: 30px 0;
        width: 500px;
        font-size: 17px;
        font-weight: bold;
        background: #FCD2D1;
        padding: 30px 30px 15px 30px;
        border: 5px solid #FF5C58;
      }

      .custom-form input[type=text],
      .custom-form input[type=submit],
      .custom-form input[type=button],
      .custom-form label {
        font-family: sans-serif;
        font-size: 15px;
        color: #FF5C58;
      }

      .custom-form label {
        display: block;
        margin-bottom: 10px;
      }

      .custom-form label > span {
        display: inline-block;
        float: left;
        width: 100px;
      }

      .custom-form input[type=text] {
        background: transparent;
        border: none;
        border-bottom: 1px dashed #FE8F8F;
        width: 400px;
        outline: none;
        padding: 0px 0px 0px 0px;
      }

      .custom-form input[type=submit],
      .custom-form input[type=button], {
        background: #FFEDD3;
        border: none;
        padding: 8px 10px 8px 10px;
        color: #FFEDD3;
        font-weight: bold;
      }

      .custom-form input[type=submit]:hover,
      .custom-form input[type=button]:hover {
        background: #FE8F8F;
        color: white;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="http://localhost:8000/lab-4"           style="color: #F9CF93;">Home</a>
      <a href="http://localhost:8000/lab-4/add-note"  style="color: #FE8F8F;">Add Note</a>
      <a href="http://localhost:8000/lab-4/note-list" style="color: #57CC99;">Note List</a>
    </div>
    <form class="custom-form" action="" method="POST">
      {% csrf_token %}
      <label for="id_to">
        <span>Send to</span><input id="id_to" type="text" name="to" required="true"/>
      </label>
      <label for="id_sender">
        <span>Sender</span><input id="id_sender" type="text" name="sender" required="true"/>
      </label>
      <label for="id_title">
        <span>Title</span><input id="id_title" type="text" name="title" required="true"/>
      </label>
      <label for="id_message">
        <span>Message</span><input id="id_message" type="text" name="message" required="true"/>
      </label>
      <br>
      <label>
        <span> </span><input type="submit" value="Send" style="float: right;" />
      </label>
      <br>
    </form>
  </body>
</html>