<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>
      .navbar {
        overflow: hidden;
        background-color: #333333;
        font-family: sans-serif;
      }

      .navbar a {
        float: left;
        color: #F2F2F2;
        text-align: center;
        padding: 13px 15px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
      }

      .navbar a:hover {
        background-color: #DDDDDD;
        color: black;
      }

      .card {
        margin: 10px 0;
        width: 350px;
        float: none;
        padding: 8px;
      }

      .field {
        list-style-type: none;
        border: 2px solid #22577A;
        margin: 0;
        padding: 0;
      }

      .field li {
        border-bottom: 1px solid #22577A;
        padding: 10px;
        text-align: center;
      }

      .field .header {
        background-color: #38A3A5;
        font-size: 17px;
        color: white;
        padding: 5px;
      }

      .field .input {
        background-color: #80ED99;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="http://localhost:8000/lab-4"           style="color: #F9CF93;">Home</a>
      <a href="http://localhost:8000/lab-4/add-note"  style="color: #FE8F8F;">Add Note</a>
      <a href="http://localhost:8000/lab-4/note-list" style="color: #57CC99;">Note List</a>
    </div>
    <!-- START LOOP SECTION -->
    {% for note in notes %}
      <div class="card"> 
        <ul class="field">
          <li class="header">To</li>
          <li class="input">{{ note.to }}</li>
          <li class="header">From</li>
          <li class="input">{{ note.sender }}</li>
          <li class="header">Title</li>
          <li class="input">{{ note.title }}</li>
          <li class="header">Message</li>
          <li class="input">{{ note.message }}</li>
        </ul>  
      </div> 
    {% endfor %}
    <!-- END LOOP SECTION -->
  </body>
</html>
