<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home - Note</title>
    <style>
      .navbar {
        overflow: hidden;
        background-color: #333333;
        font-family: sans-serif;
      }

      .navbar a {
        float: left;
        color: #F2F2F2;
        text-align: center;
        padding: 13px 15px;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
      }

      .navbar a:hover {
        background-color: #DDDDDD;
        color: black;
      }

      .custom-table {
        border-collapse: collapse;
        margin: 30px 0;
        font-size: 15px;
        font-family: sans-serif;
        min-width: 300px;
      }

      .custom-table thead tr {
        background-color: #F9CF93;
        color: #FFFFFF;
        text-align: left;
        font-weight: bold;
      }

      .custom-table th, 
      .custom-table td {
        padding: 12px 15px;
      }

      .custom-table tbody tr {
        border-bottom: 1px solid #DBD0C0;
      }

      .custom-table tbody tr:nth-of-type(even) {
        background-color: #F9E4C8;
      }

      .custom-table tbody tr:last-of-type {
        border-bottom: 2px solid #F9CF93;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="http://localhost:8000/lab-4"           style="color: #F9CF93;">Home</a>
      <a href="http://localhost:8000/lab-4/add-note"  style="color: #FE8F8F;">Add Note</a>
      <a href="http://localhost:8000/lab-4/note-list" style="color: #57CC99;">Note List</a>
    </div>
    <table class="custom-table">
      <thead>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
          <th>Actions</th>
        </tr>
      </thead>  
      <tbody>
        <!-- START LOOP SECTION -->
        {% for note in notes %}
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.sender }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
          <td>
            <button type="button" formaction="">View</button>
            <button type="button" formaction="">Edit</button>
            <button type="button" formaction="">Delete</button>
          </td>
        </tr>  
        {% endfor %}
        <!-- END LOOP SECTION -->
      </tbody>
    </table>
  </body>
</html>
