<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
    <h1>Form - Add Friend</h1>
  </head>
  <body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <p>Note: DOB format YYYY-MM-DD</p>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>