<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 10px;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- START LOOP SECTION -->
      {% for note in notes %}
      <tr>
        <td>{{ note.to }}</td>
        <td>{{ note.sender }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>  
      {% endfor %}
      <!-- END LOOP SECTION -->
    </table>
  </body>
</html>
